/* Add to wp-content/themes/core/assets/pcss/icons/_variables.pcss */

@svg-load filter url(filter.svg);
@svg-load select-chevron url(select-chevron.svg);

:root {
	--icon-filter: svg-inline(filter);
	--icon-select-chevron: svg-inline(select-chevron);
}
