/* -------------------------------------------------------------------------
 *
 * Block - Location Map - Variables
 *
 * ------------------------------------------------------------------------- */

.b-location-map {
	--location-map-viewport-height: calc(
		100dvh - var(--header-height, 0px) - var(--wp-admin--admin-bar--height, 0px)
	);
}

:root {
	--location-map-height: 600px;
	--location-map-cards-map-min-height: 350px;
	--location-map-search-action-button-size: 38px;
}

:root,
:--light-themes {
	--location-map-sidebar-background-color: var(--color-neutral-10);
	--location-map-search-border-color: var(--color-border-secondary);
	--location-map-search-button-background-color: var(--color-neutral-20);
	--location-map-search-icon-color: var(--color-black);
	--location-map-search-autocomplete-background-color: var(--color-white);
	--location-map-search-autocomplete-border-color: var(--color-border-secondary);
	--location-map-search-autocomplete-icon-color: var(--color-black);
	--location-map-search-autocomplete-item-active-background-color: var(--color-neutral-10);
	--location-map-search-autocomplete-item-color: var(--color-black);
	--location-map-search-autocomplete-item-secondary-color: var(--color-neutral-50);
	--location-map-location-background-color: var(--color-white);
	--location-map-location-border-color: var(--color-border-secondary);
	--location-map-location-active-border-color: var(--color-blue);
	--location-map-location-active-shadow-color: var(--color-blue);
	--location-map-location-action-background-color: var(--color-white);
	--location-map-location-action-border-color: var(--color-border-secondary);
	--location-map-marker-color: var(--color-blue);
	--location-map-marker-active-color: var(--color-dark-blue);
	--location-map-loading-overlay-background-color: color-mix(in srgb, var(--color-black) 45%, transparent);
	--location-map-loading-spinner-border-color: color-mix(in srgb, var(--color-white) 30%, transparent);
	--location-map-loading-spinner-active-border-color: var(--color-white);
}

:--dark-themes {
	--location-map-sidebar-background-color: var(--color-neutral-90);
	--location-map-search-button-background-color: var(--color-neutral-70);
	--location-map-search-icon-color: var(--color-white);
	--location-map-location-background-color: var(--color-neutral-80);
	--location-map-location-action-background-color: var(--color-neutral-80);
}
