/* -------------------------------------------------------------------------
 *
 * Block - Location Map - Styles - Editor
 *
 * ------------------------------------------------------------------------- */

.b-location-map__editor-preview {
	width: 100%;
}

.b-location-map__editor-preview .b-location-map__map {
	min-height: 400px;
}

.b-location-map__placeholder-help {
	margin: 0;
	text-align: center;
}
