/* -------------------------------------------------------------------------
 *
 * Variables: Integrations
 *
 * ------------------------------------------------------------------------- */

:root,
:--light-themes {
	--fwp-filter-bar-flyout-shadow: 0 -16px 24px 0 var(--color-black-20);
	--fwp-search-background-color: var(--color-neutral-10);
	--fwp-search-icon-color: var(--color-neutral-50);
	--fwp-search-color: var(--color-black);
	--fwp-search-active-background-color: var(--color-white);

	--fwp-checkbox-background-color: var(--color-white);
	--fwp-checkbox-border-color: var(--color-neutral-30);
	--fwp-checkbox-hover-border-color: var(--color-black);
	--fwp-checkbox-checked-border-color: var(--color-black);
	--fwp-checkbox-checked-background-color: var(--color-white);
	--fwp-radio-checked-border-color: var(--color-black);
	--fwp-radio-checked-background-color: var(--color-white);
	--fwp-radio-checked-mark-color: var(--color-black);

	--fwp-pagination-color: var(--color-black);
	--fwp-pagination-numbers-background-color: var(--color-white);
	--fwp-pagination-numbers-hover-color: var(--color-black);
	--fwp-pagination-numbers-hover-background-color: var(--color-neutral-10);
	--fwp-pagination-active-background-color: var(--color-blue);
	--fwp-pagination-active-color: var(--color-white);
}

:--light-theme {
	--fwp-search-background-color: var(--color-white);
	--fwp-search-icon-color: var(--color-neutral-50);
	--fwp-search-color: var(--color-black);
	--fwp-search-active-background-color: var(--color-white);

	--fwp-checkbox-background-color: var(--color-neutral-10);
	--fwp-checkbox-border-color: var(--color-neutral-30);
	--fwp-checkbox-hover-border-color: var(--color-black);
	--fwp-checkbox-checked-border-color: var(--color-black);
	--fwp-checkbox-checked-background-color: var(--color-white);
	--fwp-radio-checked-border-color: var(--color-black);
	--fwp-radio-checked-background-color: var(--color-white);
	--fwp-radio-checked-mark-color: var(--color-black);

	--fwp-pagination-color: var(--color-black);
	--fwp-pagination-numbers-background-color: var(--color-neutral-10);
	--fwp-pagination-numbers-hover-color: var(--color-black);
	--fwp-pagination-numbers-hover-background-color: var(--color-white);
	--fwp-pagination-active-background-color: var(--color-blue);
	--fwp-pagination-active-color: var(--color-white);
}

:--dark-themes {
	--fwp-search-background-color: var(--color-neutral-10);
	--fwp-search-icon-color: var(--color-neutral-50);
	--fwp-search-color: var(--color-black);
	--fwp-search-active-background-color: var(--color-white);

	--fwp-checkbox-background-color: var(--color-black);
	--fwp-checkbox-border-color: var(--color-neutral-20);
	--fwp-checkbox-hover-border-color: var(--color-white);
	--fwp-checkbox-checked-border-color: var(--color-white);
	--fwp-checkbox-checked-background-color: var(--color-white);
	--fwp-radio-checked-border-color: var(--color-white);
	--fwp-radio-checked-background-color: var(--color-black);
	--fwp-radio-checked-mark-color: var(--color-white);

	--fwp-pagination-color: var(--color-white);
	--fwp-pagination-numbers-background-color: var(--color-black);
	--fwp-pagination-numbers-hover-color: var(--color-black);
	--fwp-pagination-numbers-hover-background-color: var(--color-white);
	--fwp-pagination-active-background-color: var(--color-blue);
	--fwp-pagination-active-color: var(--color-white);
}

:--brand-theme {
	--fwp-search-background-color: var(--color-neutral-10);
	--fwp-search-icon-color: var(--color-neutral-50);
	--fwp-search-color: var(--color-black);
	--fwp-search-active-background-color: var(--color-white);

	--fwp-checkbox-background-color: var(--color-blue);
	--fwp-checkbox-border-color: var(--color-neutral-20);
	--fwp-checkbox-hover-border-color: var(--color-white);
	--fwp-checkbox-checked-border-color: var(--color-white);
	--fwp-checkbox-checked-background-color: var(--color-white);
	--fwp-radio-checked-border-color: var(--color-white);
	--fwp-radio-checked-background-color: var(--color-blue);
	--fwp-radio-checked-mark-color: var(--color-white);

	--fwp-pagination-color: var(--color-white);
	--fwp-pagination-numbers-background-color: var(--color-blue);
	--fwp-pagination-numbers-hover-color: var(--color-white);
	--fwp-pagination-numbers-hover-background-color: var(--color-dark-blue);
	--fwp-pagination-active-background-color: var(--color-white);
	--fwp-pagination-active-color: var(--color-black);
}
